.navbar {
  width: 50%;
  display: flex;
  justify-content: space-around;
  height: 100%;
}

.navItem {
  text-align: center;
  margin: auto;
  padding: 12px;
  font-size: 1em;
  transition: transform 0.3s ease, color 0.3s ease; /* Smooth scaling and color change */
}

.navItem:hover {
  transform: scale(1.2); /*Grow on hover without affecting layout */
  /* Optional: Add a color change */
  color: #ff9900;
  cursor: pointer;
}

.header {
  height: 10vh;
  width: 100vw;
  max-width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  width: 100vw;
  max-width: 100%;
  font-size: 1.5rem;
  background-color: none;
}

.logo {
  width: 50%;
  height: 100%;
  text-align: center;
  margin: auto;
  padding: 12px;
  font-size: 1.25em;
}

.logo .img {
  transition: transform 0.5s ease; /* Gradually transition over 0.5 seconds */
}

.logo .img:hover {
  transform: scale(1.2); /*Grow on hover without affecting layout */
  cursor: pointer;
}

/* responsive styles  */

/* Small screen */
@media (max-width: 576px) {
  .navbar {
    width: 100%;
  }
  .navItem {
    padding: 4px;
    font-size: 0.7em;
  }
  .logo {
    display: none;
  }
}

/* medium screen  */
@media (min-width: 576px) and (max-width: 768px) {
  .navbar {
    width: 100%;
  }
  .navItem {
    padding: 6px;
    font-size: 0.8em;
  }
  .logo {
    display: none;
  }
}

/* large screen  */
@media (min-width: 768px) and (max-width: 1024px) {
  .navbar {
    width: 100%;
  }
  .navItem {
    padding: 8px;
    font-size: 0.9em;
  }
  .logo {
    display: none;
  }
}

/* X-large screen  */
@media (min-width: 1024px) {
}
